{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    ["@semantic-release/commit-analyzer", {"preset": "conventionalcommits", "releaseRules": [{"type": "chore", "scope": "deps", "release": "patch"}, {"type": "fix", "scope": "security", "release": "patch"}]}],
    ["@semantic-release/release-notes-generator", {"preset": "conventionalcommits"}]
  ]
}
